<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pastelería</title>
    
    <!-- Agrega las bibliotecas de jQuery y jQuery Mobile -->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

    <div data-role="page" id="paginaPrincipal">

        <div data-role="header" style="background-color: #5C94A1; color: #fff; border: none;">
            <h1>Pastelería</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="/pasteles/inicio" data-icon="home">Inicio</a></li>
                    <li><a href="/pasteles/agregar" data-icon="plus">Insertar pastel</a></li>
                    <li><a href="/pasteles/mostrar" data-icon="eye">Pasteles</a></li>
                    <li><a href="/pasteles/edieli" data-icon="edit" class="ui-btn-active" style="text-decoration: none; color: #fff; font-weight: bold;">Editar o eliminar</a></li>
                </ul>
            </div>
        </div>

        <div data-role="content" style="margin-top: 20px; background-color: #fff; padding: 10px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); color: #333;">

            <form style="margin-bottom: 20px;">
                <input data-type="search" id="searchForCollapsibleSet" placeholder="Buscar pastel...">
            </form>
            
            <div data-role="collapsibleset" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet" style="width: 90%; margin: 0 auto;">    
                <% pasteles.forEach((pastel) => { %>
                    <div data-role="collapsible" data-filtertext="<%= pastel.nombre %>" style="margin-bottom: 10px; border: 1px solid #ddd; border-radius: 5px; overflow: hidden;">
                        <h3 style="background-color: #5C94A1; color: #fff; border-bottom: 1px solid #ddd; padding: 10px;">Nombre: <%= pastel.nombre %></h3>
                        <ul data-role="listview" data-inset="false">
                            <button style="background-color: #5C94A1; color: #fff; border: none; padding: 10px; border-radius: 5px; margin-bottom: 10px;"><a style="text-decoration: none; color: #fff; font-weight: bold;" href="/<%= pastel.codigo %>">Editar</a></button>
                            <button style="background-color: #5C94A1; color: #fff; border: none; padding: 10px; border-radius: 5px;"><a style="text-decoration: none; color: #fff; font-weight: bold;" href="/deleteOne/<%= pastel.codigo %>">Eliminar</a></button>
                        </ul>
                    </div>
                <% }) %>
            </div>
        </div>

        <div data-role="footer" style="background-color: #5C94A1; color: #fff; text-align: center; padding: 10px;">
            <h1>Pastelería "Zamy"</h1>
            <h2>Los mejores pasteles de la región</h2>
        </div>

    </div>

</body>
</html>
